<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/buttons.css">
    <link rel="stylesheet" href="../static/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Authentication - Dashboard!</title>
</head>
<body>
    <h1>Good Evening, {{ current_user.username }}</h1>
    <a class="dbutton" href="{{url_for('logout')}}">Logout</a><br>
</body>
</html>